.vscode/
.dist/
.DS_Store
/dist-opam/
/_build/
/_opam/
/installer/certificate
*.install
*.swp
*.swo
*.merlin
*.bk
*.log
omni-irc*.tbz
omni-irc*.tgz
commit.txt
omni-info.txt
bin/omni
bin/omni.exe
installer/build.ini
lock
